body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14pt;
  font-size: clamp(12pt, 3vw, 16pt);
  margin: 0;
  background-color: #febe38;
}

img {
  max-inline-size: 100%;
}

h1 {
  margin-top: 0;
}

p {
  text-align: justify;
}

main {
  padding-inline: 3ch;
  margin: 0 auto;
}

footer {
  margin-block-start: 4em;
}

a:any-link {
  color: #276f95;
}

a:hover {
  text-decoration-thickness: 0.1em;
}

small {
  font-size: 0.8em;
}

.logo {
  width: 100%;
}

.box,
.photo-item img {
  box-shadow: 5px 5px rgba(0 0 0 / 60%);
}

.box {
  padding: 1em;
  border-radius: 3px;
  background-color: white;
  margin: 1.5em auto;
  max-width: 700px;
}

.callout {
  font-size: 1.5em;
}

.centered {
  text-align: center;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1ch;
}

.photo-description {
  margin-block-start: 0;
  font-size: 0.70em;
  max-inline-size: 100px;
  margin-top: 0.2em;
  padding: 0.2em;
}

.photo-item img {
  border-radius: 3px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
